.nk{
    /*position: fixed;*/
    top: 0;
    position: sticky;
    /*bottom: 0;*/
    width: 100%;
    background-color:snow;
    text-align:justify;
    height: 50px;
    padding: 10px;
    /*align-items: center;*/
    /*justify-content: center;*/
}
.logo{
    align-items:center;
    justify-content: center;
    display: flex;
}
p{
    font-family: "Script MT Bold";
    text-align:justify;
    color:black;
    padding-right:10px;
    padding-left:10px;
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
    background: snow;
}
.para1{
    display: flex;
}
h1{
    color: cadetblue;
    text-align: center;
    padding: 10px;
}
.faq{
    color: darkslateblue;
    padding-left: 5px;
}

/*.end{*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/

/*    background-color:deepskyblue;*/
/*    text-align: center;*/
/*    justify-content: center;*/
/*    display: flex;*/
/*    width: 100%;*/
/*    height: 50%;*/
/*    !*padding: 10px;*!*/
/*    color: gainsboro;*/


/*}*/
/*.highlights{*/
/*    list-style-type: none;*/
/*    !*gets rid of bullets*!*/
/*    !*margin: 10px;*!*/
/*    padding: 20px;*/
/*    overflow: hidden;*/

/*}*/

.end{
    background: cornflowerblue;
    width: 100%;
    height: 80px;
    padding: 10px;
    text-align: center;
    color: darkgrey;
}
.foot{
    background: darkslategrey;
    width: 100%;
    height: 40px;
    padding: 10px;
    color: gainsboro;
    text-align: center;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*width: 60px;*/
    /*border-right: 2px solid mintcream;*/
    /*background-color: deepskyblue;*/
    width: 100%;
}
li {
    /*display: inline;*/
    float:left;
}

/*li a {*/
/*    padding: 8px;*/
/*}*/
li a {
    display: block;
    color: gainsboro;
    text-align:justify;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color:deepskyblue;
}
/*.active{*/
/*    background: #111111;*/
/*}*/
