body{
    margin: 0px;
    padding: 0px;
    background: dimgrey;
}

p{
   font-family: "Gill Sans Ultra Bold" ;
    text-align: justify;
    color: mintcream;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.holden, .holden1, .holden2{
   display: flex;
}
img{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.header{
    background: coral;
    width: 100%;
    height: 80px;
    padding: 20px;
    color: lavenderblush;
    text-align: center;
}
.at_the_top, #at_the_bottom{
    font-family: "Lucida Calligraphy";
}
#bottom{
    background: coral;
    width: 100%;
    height: 60px;
    /*padding: 10px;*/
    color: lavenderblush;
    text-align: center;
}
table, tr, th, td{
  border: 2px solid cornflowerblue;
  border-collapse: collapse;
}
table{
    width: 100%;
}
th {
    background: floralwhite;
    height: 80px;
    font-size: 22px;
    font-family: "Droid Serif";
    color: darkturquoise;
}
tr{
    height: 40px;
    font-family: "Droid Serif";
    font-size:18px ;
    text-align:center ;

}
tr:hover{
    background: lightblue;

}
tr:nth-child(odd){
    background: mistyrose;
}