body{
    margin: 0px;
    padding: 0px;

}
p{
    text-align: justify;
    font-family: SansSerif;
    color: gray();
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;

}
.container, .container-1, .container-2{
    display: flex;
}
img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}
.heading{
    background: darkgreen ;
    width: 100%;
    height: 80px;
    padding: 20px;
    color: lightgoldenrodyellow;
    text-align: center;
}
.topheader, #footertext{
    font-family: "Rockwell Extra Bold";
}
.footer{
    background: darkgreen ;
    width: 100%;
    height: 50px;
    padding: 10px;
    color: lightgoldenrodyellow;
    text-align: center;
}
#footertext{
    font-family: "Rockwell Extra Bold";
}

.revision, .revision1, .revision2{
    display: flex;
}